@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:wght@400;700&family=League+Spartan:wght@300;400;500;600&family=Open+Sans&family=PT+Sans&family=Roboto+Serif:opsz,wght@8..144,200&display=swap");

:root {
	--bg-color: #2a2a2a;
	--button-color: #4cc986;
	--greentext-color: #5fe19b;
	--whitetext-color: #ffffff;
	--inputText-color: #939393;
	--input-color: #3d3d3d;
	--checkbox-color: #36b972;
	--alternative-color: #303030;

	--exo-letter: "Exo", sans-serif;
}

body {
	background-repeat: no-repeat;
	color: white;
	width: 20rem;
	height: 48rem;
	background-image: url(https://images.unsplash.com/photo-1591109864300-46c417fa0475?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z2FtaW5nJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: var(--exo-letter);
}

header {
	background-color: var(--bg-color);
	width: 20rem;
	height: 4.875rem;
}

header img {
	max-width: 12.125rem;
	max-height: 1.5625rem;
	margin: 1.6875rem 3.9375rem 1.6875rem 3.9375rem;
}

.container .welcome__container {
	margin: 1.375rem 1.125rem 0 1.0625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.welcome__container h4 {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 700;
}

.welcome__container .discover {
	height: 2.5rem;
	font-size: 1rem;
	font-weight: 400;
	margin: 0 1.0625rem 2.1875rem 1.125rem;
}

form {
	width: 20rem;
	height: 13.9375rem;
}

#email {
	margin: 0 1rem 1rem 1rem;
}

#password {
	margin: 0 1rem 1rem 1rem;
}

#email,
#password,
#submit {
	min-width: 18rem;
	min-height: 2.9375rem;
	padding: 0.8125rem 0.6875rem;
	border-radius: 0.25rem;
	outline: none;
	border: none;
}

#submit {
	font-size: 1.125rem;
	font-weight: 700;
	font-family: var(--exo-letter);
}

.icon-pass-inactive {
	transform: translateY(-2.8125rem);
	margin-left: 16.875rem;
}

.icon-pass-active {
	display: none;
	transform: translateY(-2.8125rem);
	margin-left: 16.875rem;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + label:before {
	border-color: var(--checkbox-color);
	color: var(--whitetext-color);
	content: url(/assets/assets-login/check1.svg);
	background-color: #36b972;
}

.checkbox__container label {
	position: relative;
	padding-left: 1.7rem;
}

.checkbox__container label:before {
	content: " ";
	border: solid 0.0625rem white;
	border-radius: 0.25rem;
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 0;
	background-color: var(--bg-color);
}

.remember__forgot {
	margin: 0 1rem 1.875rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
	font-size: 14px;
}

#submit {
	margin: 0 16px 32px 16px;
	background-color: var(--button-color);
	color: var(--whitetext-color);
}

.forgot__pass,
.register-now {
	color: var(--greentext-color);
	text-decoration: none;
}

.register__now {
	margin: 2rem 3.0625rem 1.625rem 3.0625rem;
	font-weight: 400;
	font-size: 0.875rem;
}

.register {
	margin-right: 0.375rem;
}

.alternative span {
	font-size: 0.875rem;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 1.5rem;
	margin-left: 48%;
}

.alternative span::before,
.alternative span::after {
	position: absolute;
	content: " ";
	height: 0.0625rem;
	width: 7.3125rem;
	bottom: 40%;
	right: 2.5rem;
	background: rgba(255, 255, 255, 0.5);
}

.alternative span::after {
	left: 1rem;
}

.alternative span::before {
	right: 1rem;
}

.footer .social__fields {
	min-width: 18rem;
	min-height: 2.9375rem;
	border-radius: 0.25rem;
	outline: none;
	border: 0.125rem solid #ffffff;
	margin: 1rem;
	background-color: rgba(18, 18, 18, 0.5);
}

.footer .social__fields span {
	margin: 0.9375rem 3.125rem 0.8125rem 0.75rem;
}

.footer a {
	color: var(--whitetext-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-left: 2.375rem;
}
